@import "https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Map {
  flex-grow: 1;
  position: relative;
}

.Map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-family: inherit;
}

.Button {
  display: block;
  padding: 12px;
  border: 3px solid currentColor;

  position: absolute;
  right: 2.5vw;
  top: 2.5vw;

  color: #222;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  font-family: inherit;
  background: #fff;
  border-radius: 0;
}

.Button:disabled {
  opacity: 0.6;
}

.Error {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #F02E2E;
}

.Error:empty {
  padding: 0;
}

.Menu {
  padding: 20px 20px 15px;
  z-index: 1;
  text-align: center;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}

.Menu-item,
.Menu-item:visited {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
}

.Menu-item:hover {
  text-decoration: underline;
}

.Menu-item.is-active {
  color: #222;
  text-decoration: underline;
}

.Text {
  max-width: 45em;
  padding: 0 5vw;
  margin: 0 auto;
  position: relative;
  line-height: 1.4;
}

.Text * {
  margin: 1em 0;
}

.Text h1 {
  text-align: center;
}

.Text a {
  color: blue;
}

.Text a:visited {
  color: purple;
}

.mapboxgl-popup-content {
  padding: 12px 16px;
  color: #fff;
  font-size: 16px;
  background-color: #222;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: #222; }

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: #222; }

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: #222; }

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: #222; }
